/* Font awsome icon  */

/* general style */
body {
  margin: 0;
  line-height: 1.5;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: border-box;
}
input,
textarea,
select {
  font-family: 'Montserrat', sans-serif;
}
section {
  background-color: #f2f2fc;
  min-height: 100vh;
  display: block;
  padding: 0 30px;

  .container {
    padding-top: 60px;
    padding-bottom: 70px;
  }
}
.section-title {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;

  max-width: 100% !important;
  margin-bottom: 60px;
  position: relative;

  h2 {
    font-size: 40px;
    color: #302e4d;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;

    position: relative;

    margin: 0;
    &:before {
      content: '';
      height: 4px;
      width: 50px;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #ec1839;
    }
    &:after {
      content: '';
      height: 4px;
      width: 25px;
      position: absolute;
      top: 100%;
      left: 0;
      margin-top: 8px;
      background-color: #ec1839;
    }
  }
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  position: relative;
}
.padd-15 {
  padding-left: 15px;
  padding-right: 15px;
}
.main-content {
  padding-left: 270px;
}
.container {
  max-width: 1100px;
  width: 100%;

  margin: auto;
}
.hidden {
  display: none !important;
}

/* aside */
.aside {
  width: 270px;
  background-color: #fdf9ff;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  border-right: 1px solid #e8dfec;
  padding: 30px;

  .logo {
    padding: 30px 0;
    a {
      font-size: 40px;
      color: #302e4d;
      font-family: 'Rubik', sans-serif;
      font-weight: 700;
      text-decoration: none;
      display: inline-block;

      position: relative;
      padding: 0 10px;
      line-height: 50px;

      &:before {
        content: '';
        height: 20px;
        width: 20px;
        border-top: 4px solid #ec1839;
        border-left: 4px solid #ec1839;
        position: absolute;
        top: 0;
        left: 0;
      }
      &:after {
        content: '';
        height: 20px;
        width: 20px;
        border-right: 4px solid #ec1839;
        border-bottom: 4px solid #ec1839;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
  .nav-toggler {
    height: 40px;
    width: 45px;
    border: 1px solid #d4d4e3;
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 30px;
    z-index: 11;
    border-radius: 5px;
    background-color: #fdf9ff;
    // display: -ms-flexbox;
    // display: flex;
    display: none;

    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    span {
      height: 2px;
      width: 18px;
      display: inline-block;
      position: relative;
      background-color: #ec1839;

      &:before {
        content: '';
        height: 2px;
        width: 18px;
        top: -6px;
        left: 0;
        background-color: #ec1839;
        position: absolute;
      }
      &:after {
        content: '';
        height: 2px;
        width: 18px;
        top: 6px;
        left: 0;
        background-color: #ec1839;
        position: absolute;
      }
    }
  }
  .nav {
    list-style: none;
    margin: 80px 0;
    padding: 0;
    li {
      display: block;

      a {
        font-size: 16px;
        font-weight: 600;
        color: #302e4d;
        text-decoration: none;
        line-height: 45px;
        display: block;
        border-bottom: 1px solid #e8dfec;
        -webkit-transition: all 0.3s ease;
        text-transform: capitalize;

        &:hover {
          padding-left: 5px;
          color: #ec1839;
        }

        .fa {
          margin-right: 10px;
        }
      }
    }
    .active {
      color: #ec1839 !important;
    }
  }

  .copyright-text {
    font-size: 13px;
    color: #7d7d7d;
  }
}
// Home
.home-section {
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;

  .intro {
    text-align: center;
    img {
      height: 200px;
      width: 200px;
      border-radius: 50%;
      display: inline-block;
      border: 8px solid #ffffff;

      .shadow-dark {
        box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
        -webkit-box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
      }
    }
    h1 {
      font-size: 30px;
      color: #302e4d;
      font-family: 'Rubik', sans-serif;
      font-weight: 700;
      margin: 20px 0 5px;
    }
    p {
      font-size: 16px;
      font-weight: 500;
      margin: 0;
      line-height: 22px;
      color: #504e70;
    }

    .social-links {
      margin-top: 25px;

      a {
        background-color: #ec1839;
        height: 35px;
        width: 35px;
        display: inline-block;
        text-align: center;
        line-height: 35px;
        color: #ffffff;
        margin: 0 4px;
        border-radius: 50%;
        text-decoration: none;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;

        &:hover {
          -webkit-transform: scale(1.3);
          transform: scale(1.3);
        }
      }
    }
  }
}
// about scss
.about-content {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  .about-text {
    -ms-flex: 0 0 100%;
    flex: 1 0 50%;
    max-width: 100%;
    h3 {
      font-size: 24px;
      margin-bottom: 15px;
      font-weight: 700;
      color: #302e4d;
      span {
        color: #ec1839;
      }
    }
    p {
      // text-align: justify;
      font-size: 16px;
      line-height: 25px;
      color: #504e70;
      margin: 0;
    }
  }

  .personal-info {
    // background-color: red;

    .buttons {
      margin-top: 30px;
      .btn {
        background-color: #ec1839;
        font-size: 16px;
        font-family: 'Rubik', sans-serif;
        font-weight: 500;
        padding: 12px 35px;
        color: #ffffff;
        border-radius: 40px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        display: inline-block;
        border: none;
        cursor: pointer;
        white-space: nowrap;
        margin-right: 15px;
        margin-top: 10px;
        &:hover {
          -webkit-transform: scale(1.05);
          transform: scale(1.05);
        }
      }
    }

    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 40px;

    .info-item {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
      p {
        font-weight: 600;
        padding: 10px 0;
        font-size: 16px;
        margin: 0;
        color: #302e4d;
        border-bottom: 1px solid #e8dfec;

        span {
          font-weight: 400;
          color: #504e70;
          margin-left: 4px;
          display: inline-block;
        }
      }
    }
  }
  .skills {
    // background-color: blue;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;

    .skill-item {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 30px;
      h5 {
        line-height: 40px;

        font-weight: 600;

        font-size: 16px;

        color: #302e4d;
        text-transform: capitalize;
        margin: 0;
      }
      .progress {
        background-color: #e3e3e3;
        height: 7px;
        border-radius: 4px;

        width: 100%;
        position: relative !important;

        .progress-in {
          left: 0;
          top: 0;
          height: 100%;
          border-radius: 4px;
          background-color: #ec1839;
        }

        .skill-percentage {
          line-height: 40px;
          position: absolute;
          right: 0;
          top: -40px;
          font-weight: 400;
          color: #302e4d;
        }
      }
    }
  }
  .education {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
  }
  .experience {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
  }

  .title {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: #302e4d;
  }

  .timeline-box {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .timeline {
    background-color: #fdf9ff;
    padding: 30px 15px;
    border: 1px solid #d4d4e3;
    border-radius: 10px;
    width: 100%;
    position: relative;

    .timeline-item {
      padding: 37px;
      position: relative;
      padding-bottom: 50px;
      &:last-child {
        padding-bottom: 0px;
      }

      &:before {
        content: '';
        width: 1px;
        position: absolute;
        height: 100%;
        left: 7px;
        top: 0;
        background-color: #ec1839;
      }
    }
  }

  .circle-dot {
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    background-color: #ec1839;
    left: 0px;
    border-radius: 50%;
  }
  .timeline-date {
    font-size: 14px;
    font-weight: 400;
    margin-top: -37px;
    margin-bottom: 12px;
    color: #504e70;

    .fa {
      margin-right: 5px;
    }
  }
  .timeline-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: #302e4d;
  }
  .timeline-text {
    // text-align: justify;
    font-size: 16px;
    line-height: 25px;
    color: #504e70;
    margin: 0;
  }
}
// service section
.service section {
  .container {
    padding-bottom: 40px;
  }
}

.service-item {
  -ms-flex: 0 0 33.33%;
  flex: 0 0 33.33%;
  max-width: 33.33%;
  margin-bottom: 30px;
  display: -ms-flexbox;
  display: flex;
}
.service-item-inner {
  background-color: #fdf9ff;
  border: 1px solid #d4d4e3;
  border-radius: 10px;
  padding: 30px 15px;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  &:hover {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    -webkit-box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
  }

  .icon {
    height: 60px;
    width: 60px;
    // background-color: red;
    display: block;
    margin: 0 auto 30px;

    text-align: center;
    border-radius: 50%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &:hover {
      background-color: #ec1839;
    }

    .fa {
      font-size: 40px;
      line-height: 60px;
      color: #ec1839;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;

      &:hover {
        font-size: 25px;
        color: #ffffff;
      }
    }
  }

  h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #302e4d;
    font-weight: 700;
    text-transform: capitalize;
  }
  p {
    font-size: 16px;
    color: #504e70;
    line-height: 25px;
    margin: 0;
    letter-spacing: 2px;
    // text-align: justify;
  }
}
//  blog scss

.blog-section {
  .container {
    padding-bottom: 40px;
  }
  .blog-item {
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
    display: flex;
  }
  .blog-item-inner {
    border: 1px solid #d4d4e3;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    background-color: #fdf9ff;
    .blog-img {
      img {
        width: 100%;
        display: block;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }

      position: relative;
      overflow: hidden;
    }
    &:hover {
      .blog-img img {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        cursor: pointer;
      }
    }
    .blog-date {
      position: absolute;
      padding: 4px 10px;
      border-radius: 5px;
      color: #ffffff;
      font-size: 14px;
      font-weight: 600;
      left: 15px;
      bottom: 15px;
      background-color: #ec1839;
    }
    .blog-info {
      .blog-description {
        // text-align: justify;
        font-size: 16px;
        line-height: 30px;
        color: #504e70;
        font-weight: 400;
        margin-bottom: 15px;
        letter-spacing: 2px;
      }

      padding: 30px 15px;
      .blog-title {
        font-size: 18px;
        font-weight: 700;
        color: #302e4d;
        text-transform: capitalize;
        margin-bottom: 30px;
      }

      .blog-tags {
        font-size: 16px;
        line-height: 15px;
        color: #504e70;
        font-weight: 400;
        text-transform: capitalize;
        a {
          text-decoration: none;
          font-weight: 600;
          color: #ec1839;
        }
      }
    }
  }
}
// contact section scss
.contact-section {
  .contact-info-item {
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    text-align: center;
    margin-bottom: 40px;
    .icon {
      display: inline-block;

      .fa {
        font-size: 40px;
        color: #ec1839;
      }
    }

    h4 {
      font-size: 18px;
      font-weight: 700;
      color: #302e4d;
      text-transform: capitalize;
      margin: 15px 0 5px;
    }
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 25px;
      color: #504e70;
      text-decoration: none;
      margin: 0;
    }
  }

  .contact-form {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;

    .col-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }

    .col-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
    .form-item {
      margin-bottom: 30px;
      .form-control {
        width: 100%;
        height: 50px;
        border-radius: 25px;
        border: 1px solid #d4d4e3;
        padding: 10px 25px;
        font-size: 16px;
        color: #504e70;
        -webkit-transition: all 0.7s ease;
        transition: all 0.7s ease;

        &:focus {
          -webkit-box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
          box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
        }
      }

      .form-group {
        textarea {
          height: 140px;
        }
      }
    }

    .btn {
      background-color: #ec1839;
      font-size: 16px;
      font-family: 'Rubik', sans-serif;
      font-weight: 500;
      padding: 12px 35px;
      color: #ffffff;
      border-radius: 40px;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      display: inline-block;
      border: none;
      cursor: pointer;
      white-space: nowrap;
      margin-right: 15px;
      margin-top: 10px;
      &:hover {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
      }
      height: 50px;
      padding: 0 50px;
    }
  }
}
